<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Transporte Escolar</ion-list-header>
         <!--<ion-note>hi@ionicframework.com</ion-note>--> 
         <img src="assets/img/vantelainicial.jpg">                 
        </ion-list> 
        <form>
          <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Senha</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
          <ion-button expand="block">Entrar</ion-button>
        </form>
        <ion-button expand="block" fill="outline">Registrar</ion-button>
      </ion-content>
    </ion-menu>
    <!--<ion-router-outlet id="main-content"></ion-router-outlet>-->
  </ion-split-pane>
</ion-app>
